<h1>Use the links  below to access more KCC resources </h1>
<h5>Please note some may require NetID to access</h5>
<div></div>
<h4><a href = "https://kellogg-northwestern.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=7ca7b334-6689-4334-a7d3-a97701145f9b">[Video] What to Expect in a Consulting Interview</a></h4>
<h4><a href = "https://www.rocketblocks.com">[Tool] RocketBlocks</a></h4>
<div>Reach out to CMC Library to get free access</div>
<h4><a href = "https://www.fastmath.net">[Tool] FastMath</a></h4>
<div>Use coupon code “kellogg” for a 25% discount</div>
<h4><a href = "https://urldefense.proofpoint.com/v2/url?u=https-3A__kellogg.campusgroups.com_click-3Fuid-3Db1684525-2D17a9-2D11e9-2Db96d-2D0ae25bf0cf34-26r-3Dhttps-253a-252f-252fkellogg.campusgroups.com-252fconsulting-252fcase-2Dbooks-252f&d=DwMFAg&c=yHlS04HhBraes5BQ9ueu5zKhE7rtNXt_d012z2PA6ws&r=XPJn8f8zs_-0pcp-OOZKT7Sb3kK6mBgtQERbXRuI2Q8OGFk_myiNSOBMeXY5TEoL&m=k7ERF3P7VfxoyB7Hv8Rj_nZKcU5Slq9MS9RZjRl7rAI&s=woFB5maC1oZTLWaAlS53A0YqbKRPQDjWwEfpj2zAFO0&e=">[Files] Kellogg Consulting Club Shared Files</a></h4>
<div>Includes casebooks, IPG training materials, and other helpful documents to help with your preparation</div>
<div>KCC 2018 Casebook Password: kcc2018</div>


